.Secondsec-main{
    margin: 120px 20px 20px 20px;
    background-color: azure;
    color: black;
    border-radius: 40px ;
    border: 1px solid black;
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.Secondsec-title{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.Secondsec-text{
    max-width: 700px;
}


.defcolor {
    color: rgb(16, 7, 189);
    font-style: bolder;
}

.hero-subtitle{
    font-size: 20px;
}
.two{
    margin-bottom: 20px;
}

.image2{
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 40%;
}


/* Ajuster la disposition pour les petits écrans */
@media (max-width: 767.98px) {
    .Secondsec-main {
      flex-direction: column; /* Disposition verticale pour les petits écrans */
      margin: 30px 20px; /* Réduire davantage la marge extérieure */
      padding: 20px; /* Ajouter un peu d'espacement interne */
    }
    .Secondsec-title {
      font-size: 18px; /* Réduire la taille du titre */
      margin-top: 20px; /* Réduire l'espace au-dessus du titre */
    }
    .Secondsec-text {
      max-width: 100%; /* Utiliser la largeur complète disponible */
    }
    .Secondsec-para{
      font-size: 15px;
    }
    
    .image2 {
      border-radius: 50px; /* Réduire le rayon de la bordure */
      width: 50%;
    }
  }
  
  /* Rétablir la disposition pour les écrans moyens et grands */
  @media (min-width: 768px) {
    .Secondsec-main {
      margin: 120px 20px 20px 20px;
      padding: 50px; /* Rétablir l'espacement interne */
    }
    .Secondsec-title {
      font-size: 30px;
      margin-top: 50px;
    }
    .Secondsec-text {
      max-width: 700px;
    }
    .image2 {
      border-radius: 40%; /* Rétablir le rayon de la bordure */
    }
  }
      