.carddd{
    height: auto;
    position: relative;
    overflow: hidden;  
}

.card-img {
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 82, 82, 0.6);
    opacity: 0;
    transition: opacity .7s ease-in-out;
  }
  
  .card:hover .overlay {
    opacity: 1;
  }

  .template {
    width: 200px;
    font-size: medium;
  }



  /* Ajuster les cartes pour les petits écrans */
@media (max-width: 700.98px) {

  .carddd{
    max-height: auto;
    max-height:auto;
    position: relative;
    overflow: hidden;  
}
  .overlay {
    background-color: rgba(82, 82, 82, 0.8); /* Légèrement plus foncé pour une meilleure lisibilité */
  }
  .template {
    width: 100%; 
    font-size: 14px; 
  }
}


