.container-fluid{
  margin-top: 40px;
  border-radius: 30px;
  border: 2px solid azure;
}

  .login {
    min-height: 70vh;
  }
  
  .bg-image {
    border-radius: 30px 30px 30px 30px;
    background-image: url('../../assets/images/login.jpg');
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 18px;
    width: 350px;
  }
  
  .haha {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .error {
    font-size: 15px;
    color: red;
  }


  @media (max-width: 1200px) {
    .btn-login {
      font-size: 10px; /* Réduire la taille de la police pour les petits écrans */
      padding: 8px 10px; /* Réduire l'espace interne du bouton pour les petits écrans */
      width: 250px;
    }
  }
