.form-control:focus {
    box-shadow: none;
    border-color: blue ;
}

.back:hover {
    color: blue;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: rgb(249, 10, 10);
    color: #fff;
    cursor: pointer;
    border: solid 1px blue;
}

&:disabled {
    background-color: grey;
    color: black;
    cursor: not-allowed;
}


.link-input-group {
    display: flex;
    align-items: center;
  }
  
  .platform-select {
    flex: 1;
    margin-right: 10px; 
  }
  
  .icon-large {
    font-size: 24px;
  }
  