.cart {
    width: 650px;
    height: 410px;
    max-width: 650px;           
    margin: 170px auto 110px auto;
}

@media (max-width: 768px) {
    .cart {
        width: 90%;
        margin: 100px auto 50px auto;
    }
}

@media (max-width: 576px) {
    .cart {
        width: 90%;
        margin: 40px auto 10px auto;
        padding: 15px;
    }

    .cardheader {
        font-size: 1rem; /* Ajuste la taille de la police pour l'en-tête */
    }

    .cardtext, .formlabel {
        font-size: 0.9rem; /* Ajuste la taille de la police pour le texte et les labels */
    }

    .dflex{
        font-size: 0.8rem; /* Ajuste la taille de la police pour le texte de lien */
    }
}
